#heading{
    font-weight: bold;
    font-family: 'Open Sans',sans-serif;
}
#jumbo{
    background-color: #202438;
    color: #54f6e3;
}
h1{
    font-weight: 500;
    font-size: 48px;
}
h2{
    font-weight: 200;
    font-size: 36px;
}